#canvas {
	width: 300px;
	height: 300px;
	background-color: ivory;
	margin: 0 auto;
	box-shadow: 8px 8px 8px 10px gray;
}
#first-row {
	width: 100%;
	height: 75%;
}
#big-rectangle {
	width: 75%;
	height: 100%;
}
.red {
	background-color: red;
}
.right {
	float: right;
}
.black {
	background-color: black;
}
#first-divider {
	width: 3%;
	height: 100%;
}
#first-column {
	width: 22%;
	height: 100%;
}
#second-divider {
	width: 100%;
	height: 3%;
}
#first-medium-rectangle,
#second-medium-rectangle {
	width: 100%;
	height: 48.5%;
}
#second-row {
	width: 100%;
	height: 3%;
}
#third-row {
	width: 100%;
	height: 22%;
}
#last-column {
	width: 5%;
	height: 100%;
}
#third-divider {
	width: 100%;
	height: 10%;
}
.yellow {
	background-color: yellow;
}
#first-tiny-rectangle,
#second-tiny-rectangle {
	width: 100%;
	height: 45%;
}
#fourth-divider {
	width: 3%;
	height: 100%;
}
.blue {
	background-color: blue;
}
#fifth-divider {
	width: 3%;
	height: 100%;
}
#small-rectangle {
	width: 22%;
	height: 100%;
}
#wide-rectangle {
	width: 67%;
	height: 100%;
}
